{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-xl-8 mx-auto">
                
                <div class="card">
                    <div class="card-body p-4">
                        <h1 class="mb-4 text-center">Checkins</h1>
                        <h6 class="mb-0 text-uppercase">Visitors</h6>
                        <hr />
                        <div class="card">
                            <div class="card-body">
                               {% if visitors %}
                               <table class="table mb-0 table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Company</th>
                                        <th scope="col">Purpose of Visit</th>
                                        <th scope="col">Host</th>
                                        <th scope="col">Department</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visitor in visitors %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ visitor.full_name }}</td>
                                        <td>{{ visitor.phone }}</td>
                                        <td>{{ visitor.email }}</td>
                                        <td>{{ visitor.company }}</td>
                                        <td>{{ visitor.purpose_of_visit }}</td>
                                        <td>{{ visitor.host.first_name }} {{ visitor.host.last_name }}</td>
                                        <td>{{ visitor.department.name }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h6 class="mb-0 text-uppercase">No Visitors available</h6>
                            {% endif %}
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
