{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                
                <div class="card">
                    <div class="card-body p-4">
                        <h1 class="mb-4 text-center">Checouts</h1>
                        <h6 class="mb-0 text-uppercase text-center">Visitors</h6>
                        <hr />
                     
                          
                               {% if visitors %}
                               <table class="table mb-0 table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Modes</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Company</th>
                                        <th scope="col">Purpose</th>
                                        <th scope="col">Host</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Checkin Time</th>
                                        <th scope="col">Tag No.</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visitor in visitors %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ visitor.full_name }}</td>
                                        <td>
                                            {% if visitor.drive_in %}
                                            <p>{{visitor.number_plate}}</p>
                                            {%else%}
                                            <p>Walk-In</p>
                                            {%endif%}
                                        </td>
                                        <td>{{ visitor.phone }}</td>
                                        <td>{{ visitor.email }}</td>
                                        <td>{{ visitor.company }}</td>
                                        <td>{{ visitor.purpose_of_visit }}</td>
                                        <td>{{ visitor.host.first_name }} {{ visitor.host.last_name }}</td>
                                        <td>{{ visitor.department.name }}</td>
                                        <td>{{ visitor.created_at }}</td>
                                        <td>
                                            {% if visitor.tag.tag_number %}
                                            {{ visitor.tag.tag_number|stringformat:"03d" }}
                                            {%else%}
                                            <p>Not Given</p>
                                            {%endif%}

                                        </td>
                                        <td>
                                            {% if visitor.tag.is_active %}
                                            <p> <div class="col">
                                                <button type="button" class="btn btn-info">In
                                                </button>
                                            </div></p>
                                            {%else%}
                                            <div class="col">
                                                <button type="button" class="btn btn-primary">Out
                                                </button>
                                            </div>
                                            {%endif%}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h6 class="mb-0 text-uppercase">No Visitors available</h6>
                            {% endif %}
                           
                   
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
