{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="error-404 d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card shadow radius-10 mb-4 flex-fill w-100">
                    <div class="card-body text-center">
                      <a href="{% url 'main:index' %}">
                        <div class="card-body p-5 text-center">
                            <h1 class="display-1"><i class='bx bx-walk text-primary'></i></h1>
                            <button type="button" class="btn btn-outline-success px-5 radius-30">Walk-in</button>
                        </div>
                       </a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 d-flex">
              <div class="card shadow radius-10 mb-4 flex-fill w-100">
                  <div class="card-body text-center">
                      <a href="{% url 'main:drivein' %}">
                          <div class="card-body p-5 text-center">
                              <h1 class="display-1"><i class='bx bx-car text-primary'></i></h1>
                              <button type="button" class="btn btn-outline-success px-5 radius-30">Drive-in</button>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          
        </div>
    </div>
</div>

{% endblock content %}
