{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row text-center" >
                            <div class="row text-center mx-auto"> 
                                <form method="GET" action="">
                                    <div class="row row-cols-1 g-3 row-cols-lg-auto text-center d-flex justify-content-center mb-4 mt-3">
                                        <div class="col">
                                            <input type="text" class="form-control" name="full_name" id="input51" placeholder="Full Name">
                                        </div>
                                        <div class="col">
                                            <input type="date" class="form-control" name="specific_date" id="input29">
                                        </div>
                                        <div class="col">
                                            <input type="date" class="form-control" name="check_in_start_date" id="input29">
                                        </div>
                                        <div class="col">
                                           -
                                        </div>
                                        <div class="col">
                                            <input type="date" class="form-control" name="check_in_end_date" id="input29">
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="btn btn-primary px-4">Search</button>
                                        </div>
                                    </div><!--end row-->
                                </form>
                            </div>
                           </div>
                        <h1 class="mb-4 text-center">{{department.name}} <span class="badge bg-primary rounded-pill">{{v_count}} Visitors</span></h1>
                      
                        <hr />
                     
                          <div class="table-responsive">
                            {% if visitors %}
                            <table class="table mb-0 table-hover">
                             <thead>
                                 <tr>
                                     <th scope="col">#</th>
                                     <th scope="col">Full Name</th>
                                     <th scope="col">Contacts</th>
                                     <th scope="col">Purpose</th>
                                     <th scope="col">Host</th>
                                     <th scope="col">Checkin Time</th>
                                     <th scope="col">Verrification</th>
                                     <th scope="col">Tag No.</th>
                                     <th scope="col">Status</th>
                                     <th scope="col">Feedback</th>
                                   
                                 </tr>
                             </thead>
                             <tbody>
                                 {% for visitor in visitors %}
                                 <tr>
                                     <th scope="row">{{ forloop.counter }}</th>
                                     <td>{{ visitor.full_name }}</td>
                                    
                                     <td>{{visitor.company}}<br/>{{ visitor.phone }}<br/>
                                        {{ visitor.email }} <br>
                                        {% if visitor.drive_in %}
                                        <p>{{visitor.number_plate}}</p>
                                        {%else%}
                                        <p>Walk-In</p>
                                        {%endif%}

                                    </td>
                                     <td>{{ visitor.purpose_of_visit }}</td>
                                     <td>
                                         {{ visitor.host.first_name }} {{ visitor.host.last_name }}<br/>
                                         {{ visitor.department.name }}
                                     </td>
                                     <td>{{ visitor.created_at }}
                                        {% if visitor.checked_out_at %}
                                        <p class="text-warning">
                                            {{ visitor.checked_out_at }} 
                                        </p>
                                        {% endif %}
                                     </td>
                                     <td>
                                         {% if visitor.verified %}
                                        <p class="text-success">Passed</p>
                                         {%else%}
                                         <p class="text-warning"> Failed</p>
                                         {%endif%}
                                     </td>
                                     <td>
                                         {% if visitor.tag.tag_number %}
                                         {{ visitor.tag.tag_number|stringformat:"03d" }}
                                         {%else%}
                                         <p>Not Given</p>
                                         {%endif%}

                                     </td>
                                     <td>
                                         {% if visitor.tag.is_active %}
                                         <p> <div class="col">
                                             <div class="badge rounded-pill bg-light-info text-info w-100">In</div>
                                         </div></p>
                                         {%else%}
                                         <div class="col">
                                            <div class="badge rounded-pill bg-light-warning text-warning w-100">Out</div>
                                         </div>
                                         {%endif%}
                                     </td>
                                     <td>
                                       
                                       {% for rating in visitor.ratings.all %}
                                       <p class="text-primary">
                                        {{ rating.rate.name }}
                                        <hr>
                                        {{ rating.comments }}
                                       </p>
                                       {% endfor %}
                                     
                                     </td>
                                  
                                 </tr>
                                 {% endfor %}
                             </tbody>
                         </table>
                         {% else %}
                         <h6 class="mb-0 text-uppercase">No Visitors available</h6>
                         {% endif %}
                        
                
                          </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}
