{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-xl-8 mx-auto">
                
                <div class="card">
                    <div class="card-body p-4">
                        <h1 class="mb-4 text-center">Visitor Registraion</h1>
                        <h4 class="mb-4 text-center">Walk-ins</h4>
                        <div class="col text-center">
                            <button type="button" class="btn btn-outline-info px-5 radius-30">{{time}}</button>
                        </div>
                        <form action="" method="POST" class="row g-3">
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="inputFullName" class="form-label">Full Name</label>
                                {{ form.full_name }}
                            </div>
                            
                            <div class="col-12">
                                <label for="inputPhone" class="form-label">Phone</label>
                                {{ form.phone }}
                            </div>
    
                            <div class="col-12">
                                <label for="inputPurpose" class="form-label">Purpose of Visit</label>
                                {{ form.purpose_of_visit }}
                            </div>
                           
                        
                            <div class="col-12">
                                <label for="inputDepartment" class="form-label">Department</label>
                                {{ form.department }}
                            </div>
                            <div class="col-12">
                                <label for="inputDepartment" class="form-label">Host</label>
                                {{ form.host }}
                            </div>

                            <div class="col-12">
                                <label for="inputEmail" class="form-label">Email</label>
                                {{ form.email }}
                            </div>
                        
                            <div class="col-12">
                                <label for="inputCompany" class="form-label">Company (Optional)</label>
                                {{ form.company }}
                            </div>
                        
                        
                            <div class="col-12">
                                <label for="inputPossessions" class="form-label">Items in Possession (Optional)</label>
                                {{ form.possessions }}
                            </div>
                        
                            <div class="col-12 mt-4">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



{% endblock content %}
