{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-xl-8 mx-auto">
                
                <div class="card">
                    <div class="card-body p-4">
                        <h1 class="mb-4 text-center">Visitor Registraion</h1>
                        <form action="" method="POST" class="row g-3">
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="inputFullName" class="form-label">Full Name</label>
                                {{ form.full_name }}
                            </div>
                            
                            <div class="col-12">
                                <label for="inputPhone" class="form-label">Phone</label>
                                {{ form.phone }}
                            </div>
    
                            <div class="col-12">
                                <label for="inputPurpose" class="form-label">Purpose of Visit</label>
                                {{ form.purpose_of_visit }}
                            </div>
                           
                        
                            <div class="col-12">
                                <label for="inputDepartment" class="form-label">Department</label>
                                {{ form.department }}
                            </div>
                            <div class="col-12">
                                <label for="inputDepartment" class="form-label">Host</label>
                                {{ form.host }}
                            </div>

                            <div class="col-12">
                                <label for="inputEmail" class="form-label">Email</label>
                                {{ form.email }}
                            </div>
                        
                            <div class="col-12">
                                <label for="inputCompany" class="form-label">Company (Optional)</label>
                                {{ form.company }}
                            </div>
                        
                        
                            <div class="col-12">
                                <label for="inputPossessions" class="form-label">Items in Possession (Optional)</label>
                                {{ form.possessions }}
                            </div>
                        
                            <div class="col-12 mt-4">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOMContentLoaded event fired');

        const departmentSelect = document.getElementById('department');
        const hostSelect = document.getElementById('host');
        const staffData = {{ staff_by_department|safe }};
        let staffForSelectedDepartment = [];

        if (!departmentSelect || !hostSelect) {
            console.error('Could not find the department or host element.');
            return;
        }

        departmentSelect.addEventListener('change', function () {
            const selectedDepartment = departmentSelect.value;
            console.log('Selected department:', selectedDepartment);

            // Retrieve staff for the selected department from the pre-loaded data
            staffForSelectedDepartment = staffData[selectedDepartment];

            // Log the raw JSON data before parsing
            console.log('Raw Staff Data JSON:', staffForSelectedDepartment);

            // Clear existing options for staff
            hostSelect.innerHTML = '<option value="">Choose Host</option>';

            staffForSelectedDepartment.forEach(staff => {
                const option = document.createElement('option');
                option.value = staff.id; 
                option.textContent = `${staff.first_name} ${staff.last_name}`;
                hostSelect.appendChild(option);
            });

            // Optionally, trigger a change event on the hostSelect element
            const event = new Event('change');
            hostSelect.dispatchEvent(event);
        });

        hostSelect.addEventListener('change', function () {
            const selectedHostId = hostSelect.value;
            console.log('Selected Host ID:', selectedHostId);
        });
    });
</script>


{% endblock content %}
