
                    <div class="container-fluid text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center text-lg-left">
                                    <div class="text-center text-lg-left" id="currentYearContainer">&copy; <span id="currentYear"></span> CRVWWDA</div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
               